snippet h1 "Creates h1 markdown syntax" i
# $1
endsnippet

snippet h2 "Creates h1 markdown syntax" i
## $1
endsnippet

snippet h3 "Creates h1 markdown syntax" i
### $1
endsnippet

snippet h4 "Creates h1 markdown syntax" i
#### $1
endsnippet

snippet h5 "Creates h1 markdown syntax" i
##### $1
endsnippet

snippet h6 "Creates h1 markdown syntax" i
###### $1
endsnippet
